body{
     scrollbar-width: none;
    height: 1000vh;
   margin: 0%;
    
    background-color: aquamarine;
}
  
 
.firstslide{
    margin: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
}
.firstslide{
    margin: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px   ;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
  
}
   
    

.secondslide{
    margin: 0;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px   ;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}

#box11{
    background-color: rgb(255, 255, 255);
    
    z-index: 1;
    grid-area: 3/10/7/13;
}

#intro1{
    color: white;
    font-family: cursive;
   background-color: aqua;
    height: 100px;
    width: 100px;
    margin: 0;
    text-align: center;
    align-content: center;
    grid-area: 3/3;
    
}

#intro2{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: rgb(235, 49, 32);
    height: fit-content;
    width: fit-content;
    margin: 0;
    text-align: center;
    align-content: center;
    font-size: 100px;
    grid-area: 4/3;
    
}
#intro3{
    color: rgb(30, 189, 78);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(66, 32, 235);
    height: fit-content;
    width: fit-content;
    margin: 0;
    text-align: center;
    align-content: center;
    font-size: 115px;
    grid-area: 5/4;
    
}

#intro4{
    color: white;
    font-family: cursive;
   background-color: rgb(0, 0, 0);
    height: fit-content;
    margin: 0;
    text-align: center;
    align-content: center;
    grid-area: 7/4/9/8;

    
}

#goals{
     background-color: bisque;
     height: 400px;
     width: 900px;
     grid-area: 3/4;
     clip-path: polygon(0% 8%, 5% 8%, 10% 0, 20% 0, 25% 8%, 40% 8%, 60% 100%, 0 100%);
     display: grid;
     grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px  50px;
     grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px  ;
     
}

#tillnow{
     background-color: rgb(0, 0, 0);
     height: 400px;
     width: 900px;
     grid-area: 3/4;
     display: grid;
     grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px ;
     grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px  ;
     clip-path: polygon(100% 8%, 95% 8%, 90% 0, 80% 0, 75% 8%, 40% 8%, 60% 100%, 100% 100%);
     
}

#o1{
    grid-area: 1/3;
    margin: 0;
    background-color: aqua;
    font-size: 30px;
    height: fit-content;
    width: fit-content;

}

.goals{
    background-color: aquamarine;
    height: fit-content;
    width: fit-content;
}
#o2{
    grid-area: 2/3;
    width: 200px;
    height: 50px;
    text-align: center;
    align-content: center;
}

#o3{
    grid-area: 4/4;
    width: 200px;
    height: 50px;
    text-align: center;
    align-content: center;
}
#o4{
    grid-area: 3/4;
    width: 200px;
    height: 50px;
    text-align: center;
    align-content: center;
}
#o5{
    grid-area: 3/4;
    width: 200px;
    height: 50px;
    text-align: center;
    align-content: center;
}